.cardContainer{
    border: 1px solid #00000044;
    width: 30%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    transition: 0.5s;
    background-color: #c9d3dd34;

    h1{
        color: #3498DB;
    }

    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 300px;
        height: 300px;
    }

    p{
        font-size: 35px;
        font-weight: bold;
    }
}

.cardContainer:hover{
    padding: 15px;
    transition: 0.5s;
}

@media (max-width: 1050px) {
    .cardContainer{
        width: 70%;
        margin-bottom: 15px;
    }
}