.formCriarLivroContainer{
    width: 100%;
    padding: 5px;

    button{
        padding: 10px;
        background-color: #00FF00;
        font-weight: bold;
        margin-top: 20px;
        font-size: 25px;
        color: #FFFFFF;
        border-radius: 10px;
        border: none;
        transition: 0.5s;
    }

    button:hover{
        cursor: pointer;
        background-color: #20ff20;
        box-shadow: 1px 1px 10px #41ff41;
        transition: 0.5s;
    }
}

.foraFormContainer[status="hide"]{
    display: none;
}
.foraFormContainer[status="flex"]{
    display: flex;
}

.foraFormContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000069;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formCriarLivroContainer form{
    width: 40%;
    background-color: #FFFFFF;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

    h1{
        color: #000000;
        letter-spacing: 0.1rem;
    }
    label{
        color: #000000;
        font-weight: bold;
        font-size: 20px;
    }

    *{
        margin-bottom: 15px;
    }

    input[type="text"], input[type="number"]{
        width: 80%;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #000000;
        font-size: 14px;
    }

    input[type="submit"]{
        background-color: #00FF00;
        color: #FFFFFF;
        padding: 10px;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px;
    }

    input[type="submit"]:hover{
        cursor: pointer;
    }
}

.cabecalhoModal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        cursor: pointer;
    }
}
@media (max-width: 900px) {
    .formCriarLivroContainer form{
        width: 90%;
    }
}